body {
	font-family: Courier New, monospace;
	font-size: 0.9 em;
	}

table {
	font-size: 0.9 em;
	border-collapse:collapse;
	margin: 2px;
	}

table, td,th {
	border: 1px solid #000;
	padding:3px;
}

th {
	border-bottom: 2px solid #000;
}

select{
	font-family: Courier New, monospace;
	font-size: 0.9 em;	
}