div
  h3
    = name
  p Description: 
    = description
  p Owner: 
    = owner.login
  p
    img(src=owner.avatar_url)
  p Language: 
    = language
  p Forks: 
    = forks
  p Stars: 
    = stargazers_count
  p Last Push: 
    = pushed_at
  p Created: 
    = created_at
  p Open Issues: 
    = open_issues



